[Unit]
Description=Cloud native webapp
After=network.target 

[Service]
WorkingDirectory=/opt/webapp
Type=simple
ExecStart=/home/csye6225/.nvm/versions/node/v20.17.0/bin/node /opt/webapp/index.js
Restart=always
User=csye6225              

[Install]
WantedBy=multi-user.target